.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background-color: #004134;
    box-shadow: 0 0 50px rgba( 0,0,0,0.5);
    user-select: none;
    transition: bottom 0.4s;
}

.keyboard--hidden {
    bottom: -100%;
}

.keys {
    text-align: center;
}

.key {
   height: 45px;
   width:6%;
   max-width: 90px;
   margin: 3px;
   border-radius: 5px;
   border: none;
   background-color: rgba( 255,255,255,0.2);
   color: white;
   font-size: 1.05rem;
   outline: none;
   cursor: pointer;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   vertical-align: top;
   padding: 0;
   -webkit-tap-highlight-color: transparent;
   position: relative;
}

.key:active{
    background-color: rgba( 255,255,255,0.12);
}

.key-wide {
    width: 12%;
}

.key-extra-wide{
    width: 36%;
    max-width: 500px;
}

.key-activate::after {
    content: '';
    top: 10px;
    right: 10px;
    position: absolute;
    width: 8px;
    height:8px;
    background-color: rgba( 255,255,255,0.4);
    border-radius: 50%;
}

.key-active::after {
    background-color: rgb(252, 130, 195);
}